In [3]:
s='abcd'
for c in s:
    print(c)

a
b
c
d

In [7]:
n=int(input())
for i in range(2,n,1):   # start for starting no then stop n befor means n-1
    print(i)

4
2
3

In [8]:
n=int(input())
for i in range(0,n,1):
    print(i)

4
0
1
2
3

In [13]:
n=int(input())
for i in range(0,n+1,1):
    print(i)

4
0
1
2
3
4

In [27]:
n=int(input())
for i in range(1,n-1,1):     # start with starting no and stop n
    print(i)

4
1
2

In [16]:
n= int(input())
for i in range(n+1):   # by default take start and stap
    print(i)

4
0
1
2
3
4

In [17]:
n= int(input())
for i in range(1,n+1):   # by default take stap
    print(i)

4
1
2
3
4

In [18]:
n= int(input())
for i in range(0,n+1):   # by default take stap
    print(i)

4
0
1
2
3
4

In [20]:
n= int(input())
for i in range(n,0,-1):   
    print(i)

4
4
3
2
1

In [23]:
n= int(input())
for i in range(n,1,-1):   
    print(i,end="")

4
432

In [24]:
n= int(input())
for i in range(1,5,2):   
    print(i,end="")

5
13

In [25]:
n= int(input())
for i in range(5):   
    print(i,end="")

5
01234